<div class="top-wrapper">
  <%= image_tag 'home_top.png' %>
</div>

<div class="detail-wrapper">
    <p>あなたのアカウントを代わりに運用しファンを増やすサービスです。</p>
    <div class="cp_arrows">
    	<div class="cp_arrow cp_arrowfirst"></div>
    	<div class="cp_arrow cp_arrowsecond"></div>
    </div>
</div>

<div class="links-wrap">
    <%= link_to("今すぐ使ってみる", "users/signup", {class: "try-now"}) %>
    </br>
    <%= link_to("アカウントをお持ちの方はこちら", "users/login", {class: "has-account"}) %>
</div>