/* ヘッダー ================================ */
header {
  height: 70px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.header-logo {
  float: left;
  padding-left: 20px;
}

.header-logo img {
  height: 50px;
  margin: 10px 0px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 70px;
  font-size: 13px;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}